doc/
.venv
.*.egg-info
falcetl/
.nox/
.coverage
.ruff_cache/

# Temporary ignore them for development.
notebooks/synthetic_timeseries.ipynb
notebooks/test_dataset_loaders.ipynb
quovadis_tad/dataset_utils/preprocess.py

# Raw Datasets
resources/raw_datasets/SMAP_MSL/
resources/raw_datasets/SMD/
resources/raw_datasets/SWaT/
resources/raw_datasets/WADI_112/
resources/raw_datasets/WADI_127/
resources/raw_datasets/UCR/

# Preprocessed datasets
resources/processed_datasets/SMAP/
resources/processed_datasets/MSL/
resources/processed_datasets/SMD/
resources/processed_datasets/SWaT/
resources/processed_datasets/WADI_112/
resources/processed_datasets/WADI_127/
resources/processed_datasets/UCR/

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
.ipynb_checkpoints
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags
testdata/

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

